[Unit]
Description=Discord Bots (Frelon + Publisher) et API REST
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/mon_projet
ExecStart=/home/ubuntu/mon_projet/venv/bin/python3 scripts/main_bots.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
